APP_ENV=development
APP_NAME=social_media
SOCIAL_RUNTIME_MODE=development
SOCIAL_WRITES_ENABLED=false
SOCIAL_DB_URL=
SOCIAL_DB_HOST=127.0.0.1
SOCIAL_DB_PORT=5432
SOCIAL_DB_NAME=social_media_v2_local
SOCIAL_DB_USER=readonly_user
SOCIAL_DB_PASSWORD=
SOCIAL_DB_REQUIRE_TLS=false
SOCIAL_VAULT_ENABLED=false
SOCIAL_LOG_LEVEL=INFO

SOCIAL_TIKTOK_PROVIDER_PROFILE=tiktok_business_accounts_v1_3
SOCIAL_TIKTOK_BUSINESS_APP_ID=7657818426198474768
SOCIAL_TIKTOK_BUSINESS_APP_SECRET=
SOCIAL_TIKTOK_SECRET_ROTATED_AT=
SOCIAL_TIKTOK_ACCOUNT_ENABLED=false
SOCIAL_TIKTOK_ACCOUNT_OAUTH_MODE=disabled
SOCIAL_TIKTOK_COLLECTION_ENABLED=false
SOCIAL_TIKTOK_ACCOUNT_AUTHORIZATION_URL=https://www.tiktok.com/v2/auth/authorize/
SOCIAL_TIKTOK_ACCOUNT_TOKEN_URL=https://business-api.tiktok.com/open_api/v1.3/tt_user/oauth2/token/
SOCIAL_TIKTOK_ACCOUNT_REFRESH_URL=https://business-api.tiktok.com/open_api/v1.3/tt_user/oauth2/refresh_token/
SOCIAL_TIKTOK_ACCOUNT_REVOKE_URL=https://business-api.tiktok.com/open_api/v1.3/tt_user/oauth2/revoke/
SOCIAL_TIKTOK_ACCOUNT_TOKEN_INFO_URL=https://business-api.tiktok.com/open_api/v1.3/tt_user/token_info/get/
SOCIAL_TIKTOK_ACCOUNT_PROFILE_URL=https://business-api.tiktok.com/open_api/v1.3/business/get/
SOCIAL_TIKTOK_ACCOUNT_VIDEO_LIST_URL=https://business-api.tiktok.com/open_api/v1.3/business/video/list/
SOCIAL_TIKTOK_ACCOUNT_REQUIRED_SCOPES=user.info.basic,user.info.stats,user.insights,video.list,video.insights
SOCIAL_TIKTOK_ACCOUNT_OPTIONAL_SCOPES=user.info.username,user.info.profile,user.account.type,comment.list
SOCIAL_TIKTOK_ADVERTISER_ENABLED=false
SOCIAL_TIKTOK_ADVERTISER_AUTHORIZATION_URL=https://business-api.tiktok.com/portal/auth
SOCIAL_TIKTOK_ADVERTISER_TOKEN_URL=https://business-api.tiktok.com/open_api/v1.3/oauth2/access_token/
SOCIAL_TIKTOK_ADVERTISER_REVOKE_URL=https://business-api.tiktok.com/open_api/v1.3/oauth2/revoke_token/
SOCIAL_TIKTOK_ADVERTISER_DISCOVERY_URL=https://business-api.tiktok.com/open_api/v1.3/oauth2/advertiser/get/
SOCIAL_TIKTOK_REDIRECT_URI=https://social.theaccumulate.com/api/social/tiktok/oauth/callback
SOCIAL_TIKTOK_ACTIVATION_LINK_BASE=https://social.theaccumulate.com/settings/tiktok/connect
SOCIAL_TIKTOK_OAUTH_STATE_SECRET=
SOCIAL_CREDENTIAL_ACTIVE_KEY_ID=
SOCIAL_CREDENTIAL_KEYRING_JSON=
